{% load staticfiles %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conve</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400,700,300italic,600italic,400italic,700italic&amp;subset=latin,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block extra-style %}
    {% endblock %}
</head>

<body>
    <!--Facebook Login-->
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '884175821637110',
            xfbml      : true,
            version    : 'v2.4'
                });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--Facebook Login End -->
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-THVWXP"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THVWXP');</script>
    <!-- End Google Tag Manager -->
    {% block header %}
        {% include "LandingPage/header.html" %}
    {% endblock %}

    {% block main-body %}{% endblock %}

    {% block footer %}
        {% include "LandingPage/footer.html" %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>

    {% block extra-script %}
    {% endblock %}
</body>
</html>

