{% load staticfiles %}

<div class="header" id="top">
    <div class="header-body">
        <nav class="navbar nav-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="nav-top-toggle-btn navbar-toggle collapsed glyphicon glyphicon-th-list" data-toggle="collapse" data-target="#top-right-nav" aria-expanded="false">

                    </button>
                    <a href="\"><div class="logo"><img src="{% static 'img/logo-fulltext-inv-sm.png' %}" alt="logo" class="img-responsive"/></div></a>
                </div>
                <div class="collapse navbar-collapse" id="top-right-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/shipper" class="hidden">Làm người chuyển hàng?</a></li>
                        <li><a href="/contact/0"class="hidden">Hỏi đáp</a></li>
                        <li><a href="/signup" class="hidden">Đăng ký</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</div>
