<h4 class=" sub-header" id="ans1">
Bọn mình là ai?
</h4>
<p>
    Conve là 1 nhóm 5 sinh viên trẻ trung, năng động, sáng tạo, nhiệt huyết, muốn được “bùng cháy” với tinh thần “làm giàu không khó, còn … làm gì cũng khó” :v
<p>
    Đùa thôi! xD
    </p>
<p>
Bọn mình chỉ có 1 mục đích vô cùng đơn giản - được <b>sáng tạo, được thử sức </b>, được tạo ra 1 sản phẩm <b>mang lại lợi ích cho mọi người.</b>
Giúp các bạn có thể tìm được người chuyển hàng phù hợp, tin cậy, nhanh chóng, dễ dàng, và hoàn toàn miễn phí- đó chính là thứ bọn mình gọi “thành công”.
Các bạn hãy ủng hộ bọn mình nhé! ^_^
</p>
<h4 class="question-header sub-header" id="ans2">
Tại sao lại đặt tên là Conve?
</h4>
<p>
    Conve là 5 chữ cái đầu của từ Convenient - vì bọn mình hướng tới sự tiện lợi cho người dùng.
Đồng thời, cái tên “conve” cũng rất dễ thương phải không nào?  :P .
..vo ve...vo ve...vo ve…:))))
</p>

<h4 class="question-header sub-header" id="ans3">
Làm thế nào để chuyển hàng với CONVE vậy?
    </h4>
<b>3 bước cực kì đơn giản: </b>
<ul>

    <li>Lên website của Conve để tìm người chuyển hàng (shipper) thích hợp</li>
    <li>Liên hệ với shipper qua số điện thoại hoặc facebook của bạn ấy</li>
    <li>Trao đổi thông tin hàng hóa, giá cả với shipper</li>
</ul>

<p>
    Trong thời gian tới bọn mình sẽ nâng cấp CONVE để thêm các tính năng phụ như review cuộc chuyển hàng để bạn có thể yên tâm chọn người giao đồ hơn. Stay tuned nhé! Hơn nữa, các bạn còn có thể chung sức vào quá trình hoàn thiện CONVE bằng cách cho chúng mình nhữ phản hồi tích cực nhất theo ý kiến chủ quan của các bạn.
</p>

    Xong! TEN TEN!
<h4 class="question-header sub-header" id="ans4">
    Mình muốn góp ý cho CONVE, vào đâu bây giờ?
</h4>
	Rất đơn giản thôi! Bạn hãy nhắn tin vào <a href="https://www.facebook.com/conve.startup">Facebook</a> của bọn mình hoặc góp ý trực tiếp tại <a href="{%  url 'Signup' %}">đây</a>. Mọi ý kiến đóng góp của các bạn thật sự rất cần thiết và đáng trân trọng! Chúng mình nhất định sẽ nhìn nhận cẩn thận tất cả phản hồi của các bạn!
<h4 class="question-header sub-header" id="ans5">
Những người chuyển hàng là ai vậy?
</h4>
	Mỗi ngày có rất nhiều người đi qua lại giữa các tuyến Hà Nội- Sing, HCM - Sing. Việc bọn mình làm là tìm ra những người muốn và có khả năng giúp mua hộ/ cầm hộ đồ từ Sing về VN và ngược lại. Sau đó bọn mình sẽ hỏi ý kiến và đưa thông tin liên lạc và di chuyển của các bạn ấy lên CONVE để mọi người tìm ra người vận chuyển phù hợp

<h4 class="question-header sub-header" id="ans6">
Mình là người sắp di chuyển và muốn giúp các bạn chuyển hàng, mình phải làm gì?
</h4>
    Các bạn chỉ cần kéo lên góc trên cùng của trang web, lúc đó sẽ thấy ô "Chuyển hàng với CONVE". Sau đó các bạn giúp bọn mình điền thông tin vào form rồi bọn mình sẽ liên lạc lại với bạn nhé!
<h4 class="question-header sub-header" id="ans7">
Nếu mình chưa tìm được ngươi chuyển hàng như ý, mình có thể để lại thông tin cho các bạn không?
</h4>
    các bạn có thể contact bọn mình qua facebook nhé bọn mình sẽ contact bạn khi nào có người phù hợp.
<h4 class="question-header sub-header" id="ans8">
Làm thế nào để mình có thể tin tưởng người chuyển hàng?
</h4>
    Bất cứ người chuyển hàng nào nhận được phản hồi xấu quá 2 lần, bọn mình sẽ không cho thông tin của người vận chuyển ấy lên nữa để đảm báo chất lượng vận chuyển. Sau này, khi CONVE được hoàn thiện hơn, sẽ có thêm nhiều features để đảm bảo chất lượng.


