{% extends 'LandingPage/base.html' %}
{% load staticfiles %}

{% block extra-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

{% endblock %}


{% block main-body %}
<form action="." method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Delete" >Deleta?</input>
    <input type="submit" value="Cancel" name="cancel" ></input>
</form>

{% endblock %}