{% extends 'LandingPage/base.html' %}
{% load staticfiles %}

{% block extra-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

{% endblock %}


{% block main-body %}
    <!--Infor-->
    <div class = "container-fluid ">
        <h1>Welcome</h1>
        <div><a href="/logout">Logout</a></div>
        <div> <a href="/submit">Creat new entry</a></div>
        <div>Welcome: {{ user }}</div>

    </div>
    <!--Starting Shipper Record-->
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-12">
                {% for e in shipperrecord %}
                    {% include "LandingPage/shipper_entry.html" with shipper=e only %}
                    <a class="btn btn-default" href = "/edit/{{ e.id }}"> edit </a>
                    <a class="btn btn-default" href = "/delete/{{ e.id }}"> delete </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

