{% extends 'ConvePlatform/base.html' %}
{% load staticfiles %}

{% block extra-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'ConvePlatform/css/style.css' %}"/>

{% endblock %}

{% block main-body %}
    <div class="main-wrapper register">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="container-fluid container-custom">
                        <div class="logo">
                            <img class="img-responsive" src="{% static 'ConvePlatform/img/logo-fulltext-lg.png' %}"/>
                        </div>
                        <h3>Đăng ký với Conve!</h3>
                        <p>Tạo tài khoản để đăng và nhận hàng trên chợ ngay!. Nếu bạn đã có tài khoản, đăng nhập <a href="{% url 'login' %}"><strong>tại đây!</strong></a></p>
                        <br/>
                        {% if error_message %}
                            <div class="alert alert-danger">{{ error_message }}</div>{% endif %}
                        {% include 'ConvePlatform/include/message.html' %}

                        <form action="{% url 'registration' %}" method="post" role="form">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="id_email">Email</label>
                                {{ form.email.errors }}
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label for="id_username">Tên đăng nhập</label>
                                {{ form.username.errors }}
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="id_password">Mật khẩu</label>
                                {{ form.password.errors }}
                                {{ form.password }}
                                <label for="id_retype_password">Nhập lại mật khẩu</label>
                                {{ form.retype_password.errors }}
                                {{ form.retype_password }}
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="id_last_name">Họ</label>
                                        {{ form.last_name.errors }}
                                        {{ form.last_name }}
                                    </div>
                                    <div class="col-md-8">
                                        <label for="id_first_name">Tên</label>
                                        {{ form.first_name.errors }}
                                        {{ form.first_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_phone">Điện thoại</label>
                                {{ form.phone.errors }}
                                {{ form.phone }}
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-info" value="Đăng ký miễn phí!"/>
                            </div>
                        </form>
                    </div>
                    <!-- ./form -->
                </div>
            </div>
            <!-- todo: add recaptcha-->
        </div>
    </div>

{% endblock main-body %}