{% extends 'ConvePlatform/base.html' %}
{% load staticfiles %}

{% block extra-style %}
    <link rel="stylesheet" type="text/css" href="{% static 'ConvePlatform/css/style.css' %}"/>

{% endblock %}

{% block main-body %}
    <div class="main-wrapper login">
        <div class="container">
            <div class="col-md-offset-4 col-md-4">
                <div class="container-fluid container-custom">
                    <div class="logo">
                        <img class="img-responsive" src="{% static 'ConvePlatform/img/logo-fulltext-lg.png' %}" style="max-width: 200px; margin:auto"/>
                    </div>
                    {% if error_message %}<div class="alert alert-danger">{{ error_message }}</div>{% endif %}
                    {% if success_message %}<div class="alert alert-success">{{ success_message }}</div>{% endif %}
                    <form action="{% url 'reset-password' %}" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Điền tên đăng nhập hoặc email</label>
                            {{ form.username_or_email.errors }}
                            {{ form.username_or_email }}
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        <br/>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Gửi mật khẩu mới"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main-body %}